<html>

<head>
    <title>A Flask API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h1>Flask And Image to CSV Converter</h1>
<div class="agile-its">
    <h2>Flask Image to Table</h2>
    <div class="w3layouts">
        <div class="photos-upload-view">
            <form id="upload" action="/upload" method=post  enctype="multipart/form-data">
                <div class="upload-btn-wrapper">
                    <button class="btn">이미지 선택 ->
                        <input type=file name=file value='이미지 선택'>
                     </button>
                </div>
                <input type="submit"  value="Table Download">
                {% if label %}
                    <span class="result_lable">
                        {{ label }}
                    </span>
                {% endif %}
            </form>                
        </div>
    </div>

    <div class="w3layouts">
        <div class="photos-upload-view">
            <form id="upload2" action="/upload2" method=post  enctype="multipart/form-data">
                <div class="upload-btn-wrapper">
                    <button class="btn">이미지 선택 ->
                        <input type=file name=file value='이미지 선택'>
                     </button>
                </div>
                <input type="submit"  value="Table Download">
                {% if label %}
                    <span class="result_lable">
                        {{ label }}
                    </span>
                {% endif %}
            </form>                
        </div>
    </div>

</body>

</html>